body::before{
  content: "";
    background: linear-gradient(135deg,#ec9797, #322fe6, #f76aeb);
    /*background-image: url(../img/bg1.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    filter: blur(5px)
  }