.myscrollbox{
    width: 75vw;
    height: 75vh;
    overflow-x: visible;
    overflow-y: scroll;
  }
  h3{
    background-color: rgb(60, 109, 201);
    padding-bottom: 10px;
    padding-left: 10px;
  }