
.nav-item{
  color: #C1E8FF;
}

.nav-pills li a:hover {
  background-color: rgb(19, 93, 116);
}
.dropdown-item a:hover {
  background-color: rgb(67, 67, 243);
}
.container-fluid {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
#contenu{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
#sidebar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #222222;
}
#content {
  display: flex;
  flex-direction: row;
  margin: 0;
}
#Accueil {
  flex-direction: column;
}
#conge {
  justify-content: center;
  width: 300px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
}
#conge:hover {
  transform: translate(0px, -2px);
  transition: 0.5s;
}
#notif {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  background-color: antiquewhite;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#notif:hover {
  transform: translate(0px, -2px);
  transition: 0.5s;
}
#formulaire{
    flex-direction: column;
}
.liste {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 50vw;
  background-color: antiquewhite;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.detail{
  display: flex;
  flex-direction: column;
}
.CL {
  color: #fff;
  width: 350px;
  height: 130px;
  box-sizing: border-box;
  padding: 5px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
}
.CL:hover {
  transform: translate(0px, -6px);
  transition: 0.7s;
}
.CL:not(:hover){
  transform: translate(0px, 6px);
  transition: 0.4s ;
}
.CL button {
  font-size: 13px;
  background-color: #1f1c1c34;
  color: #fff;
  font-family: sans-serif;
  border: none;
  outline: 0;
  width: 100%;
  cursor: pointer;
}
.CL button:hover {
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s;
}
.CL button:active {
  font-size: 13px;
  font-weight: normal;
  transition: 0.3s;
}
#A{
  font-size: 25px;
  font-weight: bold;
  color: black;
}
@media (max-width: 1100px){
  .CL {
    width: 250px;
  }
}
@media (max-width: 576px) {
  #A{
    display: block;
  }
  #conge{
    width: 250px;
  }
  #notif{
    width: 250px;
  }
  .CL{
    width: 115px;
    height: 80px;
  }
  .CL p {
      display: none;
  }
}
.val {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: #ffffff;
  box-shadow: 4px 4px #121212;
  font-size: 15px;
  font-weight: 600;
  color: #121212;
  padding: 5px 10px;
  outline: none;
}
/*.form-control{
  background-color: #676f9d;
}
.form-select{
  background-color: #676f9d;
}*/
#form-dem{
  border: 1px;
  border-color: #0a0a0a;
  background-color: #D4D4CE;
  color: #121212;
  border-radius: 4px;
  margin-top: 0;
  box-shadow: 2px 2px 4px #121212;
}
#contenu{
  background-color: #fbfbfce5;
}

.date{
  display: flex;
  flex-direction: row;
}
.myscrollbox{
  width: 75vw;
  height: 75vh;
  overflow-x: visible;
  overflow-y: scroll;
}
/*.retour:hover{
  transform: translate(0px, -5px);
  transition: 0.5s;
}
.retour:not(:hover){
  transition: 0.5s;
}*/
.custom-container{
  width: auto;
  height: auto;
}
header{
  text-align: center;
  height: 5%;
  background-color: #e2e3e9d3;
  border-bottom: #0a0a0a;
}
.button-log {
  z-index: 1 ;
  margin: 2px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid var(--main-color);
  border-radius: 10%;
  background-color: #fff;
  box-shadow: 4px 4px #121212;
  color: #121212;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.retour:active, .retour:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
} 
.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
} 
.button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px #121212;
  font-size: 17px;
  font-weight: 600;
  color: #121212;
  cursor: pointer;
}
/*.button-submit{
  background-color: #f9b17a;
}*/
.retour{
  box-shadow: 4px 4px #121212;
  border: 2px solid var(--main-color);
  background-color: #D4D4CE;
  color: #121212;
  cursor: pointer;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: #fff; /* Couleur du cercle */
  border-radius: 50%; /* Border-radius de 50% pour créer un cercle */
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}
.pop{
  font-family: "Roboto",sans-serif;
  position: absolute ;
  display: flex;
  top: 5%;
  left: 15%;
  line-height: 0.8;
  margin-left: 10px;
  padding: 10px;
  background-color: #a4b7f7;
  border-radius: 2px;
  transition: opacity 100ms ease-in-out 200ms;
}

